In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pymongo
import pandas as pd

### NASA Mars News Web Scraping

In [60]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome',**executable_path, headless=False)

In [4]:
#Visit the site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [8]:
html = browser.html
news_soup = bs(html, 'html.parser')
#print(news_soup)

In [9]:
slide_element = news_soup.select_one('ul.item_list li.slide')

In [11]:
slide_element.find("div", class_="content_title")

In [13]:
news_title = slide_element.find("div", class_="content_title").get_text()
news_title

"NASA's Briefcase-Size MarCO Satellite Picks Up Honors"

In [14]:
news_p = slide_element.find("div", class_="article_teaser_body").get_text()
news_p

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

### JPL Mars Space Images - Featured Image

In [18]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome',**executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [23]:
f_image = browser.find_by_id('full_image').click()

In [24]:
browser.is_element_present_by_text('more info', wait_time = 1)
more_info = browser.find_link_by_partial_text('more info').click()

In [25]:
html = browser.html
soup_1 = bs(html, 'html.parser')

In [26]:
featured_image_url = soup_1.select_one('figure.lede a img').get('src')
featured_image_url

'/spaceimages/images/largesize/PIA18848_hires.jpg'

### Mars Weather

In [28]:
twitter_url_2 = "https://twitter.com/marswxreport?lang=en"

In [35]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome',**executable_path, headless=False)
twitter_url_2 = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url_2)

In [36]:
html = browser.html
weather_soup = bs(html, 'html.parser')

In [41]:
mars_weather_tweet = weather_soup.find('div', 
                                       attrs={
                                           "class": "tweet", 
                                            "data-name": "Mars Weather"
                                        })
#print(mars_weather_tweet)

In [43]:
mars_weather = mars_weather_tweet.find('p', 'tweet-text').get_text()
mars_weather

'InSight sol 366 (2019-12-07) low -98.9ºC (-146.1ºF) high -20.4ºC (-4.8ºF)\nwinds from the SSE at 5.7 m/s (12.6 mph) gusting to 20.4 m/s (45.5 mph)\npressure at 6.60 hPapic.twitter.com/BYqMmSLmWr'

### Mars Facts

In [50]:
df = pd.read_html('https://space-facts.com/mars/')[0]
print(df)
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [57]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemisphere

In [88]:
mars_hemisphere_url = "https://astrogeology.usgs.gov/"
html_hemispheres = browser.html
soup = bs(html_hemispheres, 'html.parser')
items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

for i in items: 
    title = i.find('h3').text
    one_of_image_url = i.find('a', class_='itemLink product-item')['href']
    browser.visit(mars_hemisphere_url + one_of_image_url)
    img_url = mars_hemisphere_url + soup.find('img', class_='thumb')['src']
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}]